@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom from jobPortal */
.sidebar-container::-webkit-scrollbar {
  display: none;
}
.sidebar-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content-rich {
  max-width: none;
  color: #1f2937;
  line-height: 1.625;
  white-space: pre-line;
}
.content-rich h1,
.content-rich h2,
.content-rich h3 {
  color: #2a436c;
}
.content-rich strong {
  font-weight: 600;
}
.content-rich em {
  font-style: italic;
}
.content-rich ul {
  list-style: disc;
  margin-left: 1rem;
}
.content-rich ol {
  list-style: decimal;
  margin-left: 1rem;
}
.content-rich a {
  color: #355485;
  text-decoration: underline;
}
